Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1
  continuation: circleci/continuation@0.2.0

parameters:
  on_demand:
    type: boolean
    default: false
  project:
    type: enum
    enum: ["dss", "dsm","api-docs", "nothing"]
    default: "nothing"

workflows:
  build-test-workflow:
    when:
      and:
        - << pipeline.parameters.on_demand >>
        - equal: ["nothing", << pipeline.parameters.project >>]
    jobs:
      - path-filtering/filter:
          base-revision: develop
          config-path: .circleci/main-config.yml
          mapping: |
            pepper-apis/.* action "build-test"
            pepper-apis/pom.xml dss true
            pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.* dss true
            pepper-apis/((dsm-.*)|(ddp-.*))/.* dsm true
            pepper-apis/docs/.* api-docs true

  build-test-deploy-workflow:
    when:
      and:
        - not: << pipeline.parameters.on_demand >>
        - equal: ["nothing", << pipeline.parameters.project >>]
    jobs:
      - path-filtering/filter:
          base-revision: develop
          config-path: .circleci/main-config.yml
          mapping: |
            pepper-apis/.* action "build-test-deploy"
            pepper-apis/pom.xml dss true
            pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.* dss true
            pepper-apis/((dsm-.*)|(ddp-.*))/.* dsm true
            pepper-apis/docs/.* api-docs true
          filters: #todo get rid of this filter when done
            branches:
              only:
                - develop

  dss-api-build-test-store-workflow:
    when:
      and:
        - not: << pipeline.parameters.on_demand >>
        - equal: ["nothing", << pipeline.parameters.project >>]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/main-config.yml
          parameters: '{"action":"build-test-store","dss": true,"api-docs": true}'
          filters:
            branches:
              only:
                - /^rc.*/
                - /^hotfix.*/

  dsm-build-test-store-workflow:
    when:
      and:
        - not: << pipeline.parameters.on_demand >>
        - equal: ["nothing", << pipeline.parameters.project >>]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/main-config.yml
          parameters: '{"action":"build-test-store","dsm": true}'
          filters:
            branches:
              only:
                - /^dsm_rc.*/
                - /^dsm_hotfix.*/

DDP-7306-DECIMAL. Part IX. Checkstyle
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/AnswerDao.java
Due: action="build-test", action="build-test-deploy"

DDP-7306-DECIMAL. Part X. Test form activity
  pepper-apis/src/test/java/org/broadinstitute/ddp/util/TestFormActivity.java
Due: action="build-test", action="build-test-deploy"

Specify the targetted nodejs version
  pepper-apis/docs/specification/.tool-versions
Due: action="build-test", api-docs, action="build-test-deploy"

Adds the AnswerSubmission DECIMAL type
  pepper-apis/docs/specification/src/components/schemas.yml
Due: action="build-test", api-docs, action="build-test-deploy"

Removes the discriminator from the Answer
  pepper-apis/docs/specification/src/components/schemas.yml
Due: action="build-test", api-docs, action="build-test-deploy"

Updates to the Question Numeric type
  pepper-apis/docs/specification/src/components/schemas.yml
Due: action="build-test", api-docs, action="build-test-deploy"

Update the required dependencies, and bump the version
  pepper-apis/docs/specification/package-lock.json
  pepper-apis/docs/specification/package.json
  pepper-apis/docs/specification/src/pepper.yml
Due: action="build-test", api-docs, action="build-test-deploy"

Elevate DECIMAL to top-level question & answer types
  pepper-apis/docs/specification/src/components/schemas.yml
Due: action="build-test", api-docs, action="build-test-deploy"

Fixes the malformed version id
  pepper-apis/docs/specification/package-lock.json
  pepper-apis/docs/specification/package.json
Due: action="build-test", api-docs, action="build-test-deploy"

Renames the NUMERIC question to INTEGER
  pepper-apis/docs/specification/src/components/schemas.yml
Due: action="build-test", api-docs, action="build-test-deploy"

Version should match the SemVer grammar
  pepper-apis/docs/specification/package-lock.json
  pepper-apis/docs/specification/package.json
Due: action="build-test", api-docs, action="build-test-deploy"

Removes the numericType property
  pepper-apis/docs/specification/src/components/schemas.yml
Due: action="build-test", api-docs, action="build-test-deploy"

DDP-7306-DECIMAL. Part XI. Test fixed
  pepper-apis/src/test/java/org/broadinstitute/ddp/model/activity/instance/validation/DecimalRangeRuleTest.java
Due: action="build-test", action="build-test-deploy"

DDP-7306-DECIMAL. Part XII. Test fixed
  pepper-apis/src/test/java/org/broadinstitute/ddp/db/dao/AnswerDaoTest.java
Due: action="build-test", action="build-test-deploy"

DDP-7306-DECIMAL. Part XIII. Test fixed
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/JdbiQuestion.java
  pepper-apis/src/main/resources/db-changes/schema/DDP-7306-decimal-question.xml
  pepper-apis/src/main/resources/org/broadinstitute/ddp/db/dao/AnswerDao.sql.stg
  pepper-apis/src/test/java/org/broadinstitute/ddp/copy/AnswerToAnswerCopierTest.java
Due: action="build-test", action="build-test-deploy"

DDP-7306-DECIMAL. Part XIV. Test fixed
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/JdbiDecimalRangeValidation.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/JdbiQuestionValidation.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/ValidationCachedDao.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/ValidationDao.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dto/validation/DecimalRangeRuleDto.java
  pepper-apis/src/main/resources/db-changes/schema/DDP-7306-decimal-question.xml
  pepper-apis/src/test/java/org/broadinstitute/ddp/db/dao/QuestionDaoTest.java
Due: action="build-test", action="build-test-deploy"

DDP-7306-DECIMAL. Part XV. Test fixed
  pepper-apis/src/main/resources/org/broadinstitute/ddp/db/dao/JdbiQuestionValidation.sql.stg
  pepper-apis/src/test/java/org/broadinstitute/ddp/db/dao/QuestionDaoTest.java
Due: action="build-test", action="build-test-deploy"

DDP-7306-DECIMAL. Part XVI. Test fixed
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/ValidationDao.java
Due: action="build-test", action="build-test-deploy"

Move Liquibase files to right spot
  pepper-apis/dss-database/src/main/resources/db-changes/schema/DDP-7292-activity-def-show-activity-status.xml
  pepper-apis/dss-database/src/main/resources/db-changes/schema/DDP-7306.xml
  pepper-apis/dss-database/src/main/resources/db-changes/schema/DDP-7417-add-matrix-modal-columns.xml
Due: action="build-test", dss, action="build-test-deploy"

Update some of the docs
  pepper-apis/README.md
Due: action="build-test", action="build-test-deploy"

Restore script to original. We dont need to specify project
  pepper-apis/scripts/run_ci_tests.sh
Due: action="build-test", action="build-test-deploy"

added about you activity page for osteo project
  study-builder/studies/osteo/about-you-activity.conf
  study-builder/studies/osteo/i18n/en.json
  study-builder/studies/osteo/i18n/es.json
  study-builder/studies/osteo/snippets/confidence-level.conf
  study-builder/studies/osteo/snippets/highest-level-school.conf
  study-builder/studies/osteo/snippets/problem-understanding-written.conf
  study-builder/studies/osteo/snippets/question-assigned-sex.conf
  study-builder/studies/osteo/snippets/question-gender-identity.conf
  study-builder/studies/osteo/snippets/question-how-hear.conf
  study-builder/studies/osteo/snippets/question-picklist-yndkpna.conf
  study-builder/studies/osteo/snippets/question-race.conf
  study-builder/studies/osteo/snippets/question-read-hospital-materials.conf
  study-builder/studies/osteo/snippets/question-tell-us-anything.conf
  study-builder/studies/osteo/snippets/speak-language.conf
  study-builder/studies/osteo/study.conf
  study-builder/studies/osteo/subs.conf
Due: none

DDP-7306-DECIMAL. Part XVII. Test fixed
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/PatchFormAnswersRouteStandaloneTest.java
Due: action="build-test", action="build-test-deploy"

DDP-7306-DECIMAL. Part XVIII. Foreign keys
  pepper-apis/src/main/resources/db-changes/schema/DDP-7306-decimal-question.xml
  pepper-apis/src/test/java/org/broadinstitute/ddp/db/dao/AnswerDaoTest.java
Due: action="build-test", action="build-test-deploy"

DDP-7306-DECIMAL. Part XIX. BigDecimal deserialization test
  pepper-apis/src/test/java/org/broadinstitute/ddp/util/GsonBigDecimalDeserializationTest.java
Due: action="build-test", action="build-test-deploy"

DDP-7306-DECIMAL. Part XX. Unit tests fix
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/PatchFormAnswersRouteStandaloneTest.java
Due: action="build-test", action="build-test-deploy"

DDP-7306-DECIMAL. Part XXI. Imports optimization
  pepper-apis/src/test/java/org/broadinstitute/ddp/util/GsonBigDecimalDeserializationTest.java
Due: action="build-test", action="build-test-deploy"

Lombok example
  pepper-apis/lombok.config
  pepper-apis/parent-pom.xml
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dto/AnswerDto.java
Due: action="build-test", action="build-test-deploy"

DDP-7306-DECIMAL. Part XXII. SQL fix
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/definition/validation/RuleDef.java
  pepper-apis/src/main/resources/org/broadinstitute/ddp/pex/PexDao.sql.stg
Due: action="build-test", action="build-test-deploy"

DDP-7306-DECIMAL. Part XXIII. Bug fix
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/QuestionDao.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/util/GsonBigDecimalDeserializationTest.java
Due: action="build-test", action="build-test-deploy"

DDP-7306-DECIMAL. Part XIV. Missing LEFT JOIN added
  pepper-apis/src/main/resources/org/broadinstitute/ddp/db/dao/JdbiQuestion.sql.stg
Due: action="build-test", action="build-test-deploy"

add endpoint url
  pepper-apis/docs/specification/src/pepper.yml
Due: action="build-test", api-docs, action="build-test-deploy"

add option to docs
  pepper-apis/docs/specification/src/components/schemas.yml
Due: action="build-test", api-docs, action="build-test-deploy"

add endpoint definition
  pepper-apis/docs/specification/src/endpoints/user.studies.activity.instance.question-options.yml
Due: action="build-test", api-docs, action="build-test-deploy"

DDP-7182 . Add UNIQUE-VALUE Validation
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/instance/validation/UniqueValueRule.java
Due: action="build-test", action="build-test-deploy"

DDP-7117 | change types of assigneeIdMr and assigneeIdTissue to text
  elasticsearch/templates/participants_structured.json
Due: none

update circadia instructions
  study-builder/studies/circadia/dlmo-instructions.conf
  study-builder/studies/circadia/i18n/en.json
Due: none

DDP-7306-BASIL. Part I. BigDecimal representation
  pepper-apis/src/main/java/org/broadinstitute/ddp/route/PatchFormAnswersRoute.java
Due: action="build-test", action="build-test-deploy"

DDP-7306-BASIL. Part II. Unit tests
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/PatchFormAnswersRouteStandaloneTest.java
Due: action="build-test", action="build-test-deploy"

DDP-7306-BASIL. Part III. Unit tests
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/PatchFormAnswersRouteStandaloneTest.java
Due: action="build-test", action="build-test-deploy"
