Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", "dss", "dsm", api-docs

Poke to see if we can build dss
  pepper-apis/dss-core/pom.xml
Due: action="build-test", "dss"

Remote quotes from pipeline params
  .circleci/config.yml
Due: none

Add debug
  .circleci/main-config.yml
Due: none

Try to get around checkout problem
  .circleci/main-config.yml
Due: none

Fix syntax
  .circleci/main-config.yml
Due: none

Remove debug
  .circleci/main-config.yml
Due: none

See if we can do 2 workflows!
  .circleci/main-config.yml
Due: none

Try to run separate workflows
  .circleci/main-config.yml
Due: none

Get rid of conditional inside job
  .circleci/main-config.yml
Due: none

See if removing dir fixes checkout problem
  .circleci/main-config.yml
Due: none

Apply same rmdir trick to parallel test job
  .circleci/main-config.yml
Due: none

See if we can get dsm compile build to also work
  .circleci/main-config.yml
Due: none

Bogus change to see if we can force DSM to build
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/careevolve/Address.java
Due: action="build-test", "dsm"

Revert changes made to test path-filtering
  pepper-apis/docs/java-11.md
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/careevolve/Address.java
  pepper-apis/dss-core/pom.xml
Due: action="build-test", "dss", "dsm", api-docs

Getting ready for build-test-deploy workflow
  .circleci/config.yml
Due: none

Fix worklow condition
  .circleci/config.yml
Due: none

First shot running build test deploy in develop
  .circleci/config.yml
Due: none

Try to force api-docs build
  pepper-apis/docs/java-11.md
Due: action="build-test", api-docs

Try to get api-docs deploy to work. Remove unneeded stuff from api-docs build
  .circleci/main-config.yml
Due: none

Fix removal of docs dir
  .circleci/main-config.yml
Due: none

build-test-deploy dss
  .circleci/main-config.yml
Due: none

Bogus change to trigger dss build
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/analytics/GoogleAnalyticsMetrics.java
Due: action="build-test", "dss"

Add build-test-deploy dsm
  .circleci/main-config.yml
Due: none

Force DSM build
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/careevolve/Address.java
Due: action="build-test", "dsm"

Try to get dsm validation to execute
  .circleci/main-config.yml
Due: none

Persist workspace after dsm build
  .circleci/main-config.yml
Due: none

Fix dsm deployment
  .circleci/main-config.yml
Due: none

Restore workspace to build and deploy dsm jar
  .circleci/main-config.yml
Due: none

See if we can get rid of orb in main-config.yml
  .circleci/main-config.yml
Due: none

Get changes to file from DSMMavenRefactor-build
  .circleci/main-config.yml
Due: none

Restore changes made to files to test out builds
  pepper-apis/docs/java-11.md
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/careevolve/Address.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/analytics/GoogleAnalyticsMetrics.java
Due: action="build-test", "dss", "dsm", api-docs

Path conditions:
  action="build-test": any of: pepper-apis/.*
  "dss": (any of: pepper-apis/pom.xml) or (any of: pepper-apis/(dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli)/.*)
  "dsm": any of: pepper-apis/(dsm-.*)|(ddp-.*)/.*
  api-docs: any of: pepper-apis/docs/.*
