Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1
  continuation: circleci/continuation@0.2.0

parameters:
  on_demand:
    type: boolean
    default: false
  project:
    type: enum
    enum: ["dss", "dsm","api-docs", "nothing"]
    default: "nothing"

workflows:
  build-test-workflow:
    when:
      and:
        - << pipeline.parameters.on_demand >>
        - equal: ["nothing", << pipeline.parameters.project >>]
    jobs:
      - path-filtering/filter:
          base-revision: develop
          config-path: .circleci/main-config.yml
          mapping: |
            pepper-apis/.* action "build-test"
            pepper-apis/pom.xml dss true
            pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.* dss true
            pepper-apis/((dsm-.*)|(ddp-.*))/.* dsm true
            pepper-apis/docs/.* api-docs true

  build-test-deploy-workflow:
    when:
      and:
        - not: << pipeline.parameters.on_demand >>
        - equal: ["nothing", << pipeline.parameters.project >>]
    jobs:
      - path-filtering/filter:
          base-revision: develop
          config-path: .circleci/main-config.yml
          mapping: |
            pepper-apis/.* action "build-test-deploy"
            pepper-apis/pom.xml dss true
            pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.* dss true
            pepper-apis/((dsm-.*)|(ddp-.*))/.* dsm true
            pepper-apis/docs/.* api-docs true
          filters: #todo get rid of this filter when done
            branches:
              only:
                - develop

  dss-api-build-test-store-workflow:
    when:
      and:
        - not: << pipeline.parameters.on_demand >>
        - equal: ["nothing", << pipeline.parameters.project >>]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/main-config.yml
          parameters: '{"action":"build-test-store","dss": true,"api-docs": true}'
          filters:
            branches:
              only:
                - /^rc.*/
                - /^hotfix.*/

  dsm-build-test-store-workflow:
    when:
      and:
        - not: << pipeline.parameters.on_demand >>
        - equal: ["nothing", << pipeline.parameters.project >>]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/main-config.yml
          parameters: '{"action":"build-test-store","dsm": true}'
          filters:
            branches:
              only:
                - /^dsm_rc.*/
                - /^dsm_hotfix.*/

DDP-7516 . create new DSM tenant
  study-builder/config/manifest-tenant.rb
  study-builder/tenants/add-claims.js
  study-builder/tenants/dsm/emails/welcome_email.html
  study-builder/tenants/dsm/pages/login.html
  study-builder/tenants/dsm/pages/password_reset.html
  study-builder/tenants/dsm/tenant.yaml
Due: none

DDP-7516 . create new DSM tenant
  study-builder/config/dsm-config.json.ctmpl
  study-builder/tenants/dsm/tenant.yaml
Due: none

DDP-7175 . create new FON Auth0 tenant
  study-builder/config/fon-config.json.ctmpl
  study-builder/config/manifest-tenant.rb
  study-builder/tenants/fon/emails/welcome_email.html
  study-builder/tenants/fon/pages/login.html
  study-builder/tenants/fon/pages/password_reset.html
  study-builder/tenants/fon/tenant.yaml
Due: none

cleanup
  study-builder/tenants/fon/tenant.yaml
Due: none

cleanup
  study-builder/tenants/dsm/emails/welcome_email.html
  study-builder/tenants/dsm/pages/login.html
  study-builder/tenants/dsm/pages/password_reset.html
Due: none

refactored as per new repo structure
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiQuestionValidation.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/definition/validation/UniqueValueRuleDef.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/instance/validation/UniqueValueRule.java
Due: action="build-test", dss, action="build-test-deploy"

refactored pancan stool kit existing event handling
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/dsm/DsmNotificationEventType.java
  pepper-apis/dss-database/src/main/resources/changelog-master.xml
  pepper-apis/src/main/resources/db-changes/schema/add_new_event_type_DDP-7415.xml
  study-builder/studies/pancan/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

started adding event types for trigger
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/QueuedEventDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/dsm/DsmNotificationEventType.java
  study-builder/studies/pancan/study-events.conf
Due: action="build-test", dss, action="build-test-deploy"

study-builder build plugins added, test resources added
  pepper-apis/studybuilder-cli/pom.xml
  pepper-apis/studybuilder-cli/src/test/resources/teststudy/activity-invalid.conf
  pepper-apis/studybuilder-cli/src/test/resources/teststudy/i18n/en.conf
  pepper-apis/studybuilder-cli/src/test/resources/teststudy/i18n/es.conf
  pepper-apis/studybuilder-cli/src/test/resources/teststudy/i18n/fi.conf
  pepper-apis/studybuilder-cli/src/test/resources/teststudy/snippets/activity-general-form.conf
  pepper-apis/studybuilder-cli/src/test/resources/teststudy/subs.conf
Due: action="build-test", dss, action="build-test-deploy"

resolve conflicts
  pepper-apis/dss-database/src/main/resources/db-changes/schema/DDP-7417-add-matrix-modal-title-column.xml
  pepper-apis/src/main/resources/db-changes/schema/DDP-7417-add-matrix-modal-columns.xml
Due: action="build-test", dss, action="build-test-deploy"

fix matrix modal issues
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiMatrixQuestion.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/QuestionDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/MatrixQuestionDto.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/definition/question/MatrixQuestionDef.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/instance/question/MatrixQuestion.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/service/actvityinstancebuilder/form/block/question/QuestionCreatorHelper.java
  pepper-apis/dss-core/src/main/resources/org/broadinstitute/ddp/db/dao/JdbiQuestion.sql.stg
  pepper-apis/dss-database/src/main/resources/db-changes/schema/DDP-7417-add-matrix-modal-columns.xml
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/translation/ActivityDefTranslationsProcessor.java
  study-builder/studies/pancan/diet-lifestyle.conf
  study-builder/studies/pancan/i18n/en.conf
  study-builder/studies/pancan/i18n/es.conf
  study-builder/studies/pancan/stool-kit.conf
  study-builder/studies/snippets/matrix-single-question.conf
Due: action="build-test", dss, action="build-test-deploy"

extract liquibase column edition in separate file
  pepper-apis/dss-database/src/main/resources/db-changes/schema/DDP-7417-add-matrix-modal-columns.xml
Due: action="build-test", dss, action="build-test-deploy"

minor fix in consent wording circadia
  study-builder/studies/circadia/i18n/en.json
Due: none

After rebase
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/definition/types/DecimalDef.java
Due: action="build-test", dss, action="build-test-deploy"

Test commit
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiDecimalQuestion.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiDecimalRangeValidation.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/DecimalQuestionDto.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dto/validation/DecimalRangeRuleDto.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/export/collectors/DecimalQuestionFormatStrategy.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/definition/question/DecimalQuestionDef.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/definition/validation/DecimalRangeRuleDef.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/instance/answer/DecimalAnswer.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/instance/question/DecimalQuestion.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/instance/validation/DecimalRangeRule.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/model/activity/instance/validation/DecimalRangeRuleTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/util/GsonBigDecimalDeserializationTest.java
  pepper-apis/dss-database/src/main/resources/db-changes/schema/DDP-7306-decimal-question.xml
Due: action="build-test", dss, action="build-test-deploy"

Fix
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/definition/types/DecimalDef.java
Due: action="build-test", dss, action="build-test-deploy"

add RemoteAutoCompleteOptionsResponse and remove java file
  pepper-apis/docs/specification/src/components/responses.yml
Due: action="build-test", api-docs, action="build-test-deploy"

remove RemoteAutoCompleteOptionsResponse.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/json/RemoteAutoCompleteOptionsResponse.java
Due: action="build-test", dss, action="build-test-deploy"

minor fix in consent wording circadia (#1155)
  study-builder/studies/circadia/i18n/en.json
Due: none

refactored as per new repo structure
  pepper-apis/dss-database/src/main/resources/db-changes/seed/DDP-7182-add-unique-value-validation-type.xml
Due: action="build-test", dss, action="build-test-deploy"

added blank pages to links in pancan diet and lifestyle
  study-builder/studies/pancan/i18n/es.conf
Due: none

added v2 of about you activity in osteo
  study-builder/studies/osteo/patches/about-you-v2.conf
  study-builder/studies/osteo/study.conf
Due: none

changed osteo project about you page mails
  study-builder/studies/osteo/i18n/en.json
  study-builder/studies/osteo/patches/about-you-v2.conf
Due: none

added about you activity page for osteo project
  study-builder/studies/osteo/about-you-activity.conf
  study-builder/studies/osteo/i18n/en.json
  study-builder/studies/osteo/i18n/es.json
  study-builder/studies/osteo/snippets/confidence-level.conf
  study-builder/studies/osteo/snippets/highest-level-school.conf
  study-builder/studies/osteo/snippets/problem-understanding-written.conf
  study-builder/studies/osteo/snippets/question-assigned-sex.conf
  study-builder/studies/osteo/snippets/question-gender-identity.conf
  study-builder/studies/osteo/snippets/question-how-hear.conf
  study-builder/studies/osteo/snippets/question-picklist-yndkpna.conf
  study-builder/studies/osteo/snippets/question-race.conf
  study-builder/studies/osteo/snippets/question-read-hospital-materials.conf
  study-builder/studies/osteo/snippets/question-tell-us-anything.conf
  study-builder/studies/osteo/snippets/speak-language.conf
  study-builder/studies/osteo/study.conf
  study-builder/studies/osteo/subs.conf
Due: none

Fixed issue, found by Blake
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/PatchFormAnswersRouteStandaloneTest.java
Due: action="build-test", dss, action="build-test-deploy"

Unused import removed
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/PatchFormAnswersRouteStandaloneTest.java
Due: action="build-test", dss, action="build-test-deploy"

Adding a class to extract claims from auth0token and then adding those claims to final DSMToken
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/AuthenticationRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/lddp/security/Auth0Util.java
Due: action="build-test", dsm, action="build-test-deploy"

Adds the DecimalRange validation
  pepper-apis/docs/specification/src/components/schemas.yml
Due: action="build-test", api-docs, action="build-test-deploy"

Adds the DecimalNumber object schema
  pepper-apis/docs/specification/src/components/schemas.yml
Due: action="build-test", api-docs, action="build-test-deploy"

Updated to match the DSS implementation
  pepper-apis/docs/specification/src/components/schemas.yml
Due: action="build-test", api-docs, action="build-test-deploy"

Removes the Decimal answer's precision property
  pepper-apis/docs/specification/src/components/schemas.yml
Due: action="build-test", api-docs, action="build-test-deploy"

cleanup
  pepper-apis/docs/specification/src/components/schemas.yml
  pepper-apis/src/main/resources/db-changes/seed/DDP-7182-add-unique-value-validation-type.xml
Due: action="build-test", api-docs, action="build-test-deploy"

DDP7182 unique value validation (#1139)
  pepper-apis/docs/specification/src/components/schemas.yml
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/AnswerSql.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/JdbiQuestionValidation.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/ValidationDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/definition/validation/RuleDef.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/definition/validation/UniqueValueRuleDef.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/instance/validation/UniqueValueRule.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/types/RuleType.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/service/actvityinstancebuilder/form/block/question/ValidationRuleCreator.java
  pepper-apis/dss-core/src/main/resources/org/broadinstitute/ddp/db/dao/AnswerSql.sql.stg
  pepper-apis/dss-database/src/main/resources/changelog-master.xml
  pepper-apis/dss-database/src/main/resources/db-changes/seed/DDP-7182-add-unique-value-validation-type.xml
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/util/ValidationRuleTask.java
  study-builder/studies/basil/i18n/en.conf
  study-builder/studies/basil/i18n/es.conf
  study-builder/studies/basil/i18n/ru.conf
  study-builder/studies/basil/loved-one-activity.conf
  study-builder/studies/basil/study-events.conf
  study-builder/studies/basil/subs.conf
Due: action="build-test", dss, api-docs, action="build-test-deploy"

DecimalRangeRule field types replaced with DecimalDef
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/definition/types/DecimalDef.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/model/activity/instance/validation/DecimalRangeRule.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/db/dao/QuestionDaoTest.java
Due: action="build-test", dss, action="build-test-deploy"
