Repository broadinstitute/ddp-study-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: action="build-test", dss, dsm, api-docs, action="build-test-deploy"

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1
  continuation: circleci/continuation@0.2.0

parameters:
  on_demand:
    type: boolean
    default: false
  project:
    type: enum
    enum: ["dss", "dsm","api-docs", "nothing"]
    default: "nothing"

workflows:
  build-test-workflow:
    when:
      and:
        - << pipeline.parameters.on_demand >>
        - equal: ["nothing", << pipeline.parameters.project >>]
    jobs:
      - path-filtering/filter:
          base-revision: develop
          config-path: .circleci/main-config.yml
          mapping: |
            pepper-apis/.* action "build-test"
            pepper-apis/pom.xml dss true
            pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.* dss true
            pepper-apis/((dsm-.*)|(ddp-.*))/.* dsm true
            pepper-apis/docs/.* api-docs true

  build-test-deploy-workflow:
    when:
      and:
        - not: << pipeline.parameters.on_demand >>
        - equal: ["nothing", << pipeline.parameters.project >>]
    jobs:
      - path-filtering/filter:
          base-revision: develop
          config-path: .circleci/main-config.yml
          mapping: |
            pepper-apis/.* action "build-test-deploy"
            pepper-apis/pom.xml dss true
            pepper-apis/((dss-.*)|(ddp-.*)|(pex-antlr)|(housekeeping)|(studybuilder-cli))/.* dss true
            pepper-apis/((dsm-.*)|(ddp-.*))/.* dsm true
            pepper-apis/docs/.* api-docs true
          filters: #todo get rid of this filter when done
            branches:
              only:
                - develop

  dss-api-build-test-store-workflow:
    when:
      and:
        - not: << pipeline.parameters.on_demand >>
        - equal: ["nothing", << pipeline.parameters.project >>]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/main-config.yml
          parameters: '{"action":"build-test-store","dss": true,"api-docs": true}'
          filters:
            branches:
              only:
                - /^rc.*/
                - /^hotfix.*/

  dsm-build-test-store-workflow:
    when:
      and:
        - not: << pipeline.parameters.on_demand >>
        - equal: ["nothing", << pipeline.parameters.project >>]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/main-config.yml
          parameters: '{"action":"build-test-store","dsm": true}'
          filters:
            branches:
              only:
                - /^dsm_rc.*/
                - /^dsm_hotfix.*/

DDP-7306-BASIL. Part IV. Unit tests
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/PatchFormAnswersRouteStandaloneTest.java
Due: action="build-test", action="build-test-deploy"

minor updated in post-collection form
  study-builder/studies/circadia/i18n/en.json
  study-builder/studies/circadia/post-collection.conf
Due: none

DDP-7306-BASIL. Part V. Study builder fix and decimal question example added
  study-builder/src/main/java/org/broadinstitute/ddp/studybuilder/translation/ActivityDefTranslationsProcessor.java
  study-builder/src/main/java/org/broadinstitute/ddp/studybuilder/translation/TranslationsEnricher.java
  study-builder/studies/basil/i18n/en.conf
  study-builder/studies/basil/i18n/es.conf
  study-builder/studies/basil/i18n/ru.conf
  study-builder/studies/basil/numeric-activity.conf
  study-builder/studies/basil/subs.conf
  study-builder/studies/snippets/decimal-question.conf
Due: none

Study builder tests fix (#1119)
  study-builder/src/main/java/org/broadinstitute/ddp/studybuilder/translation/TranslationsEnricher.java
  study-builder/src/main/java/org/broadinstitute/ddp/studybuilder/translation/TranslationsToDbJsonSaver.java
  study-builder/src/test/resources/teststudy/activity.conf
Due: none

DDP-7306-BASIL. Part V. Decimal Definition class added
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/ValidationDao.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/definition/types/DecimalDef.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/definition/validation/DecimalRangeRuleDef.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/db/dao/QuestionDaoTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/PatchFormAnswersRouteStandaloneTest.java
Due: action="build-test", action="build-test-deploy"

DDP-7306-BASIL. Part VI. Imports
  study-builder/src/main/java/org/broadinstitute/ddp/studybuilder/translation/ActivityDefTranslationsProcessor.java
  study-builder/studies/basil/numeric-activity.conf
Due: none

Ddp 7306 basil (#1136)
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/ValidationDao.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/definition/types/DecimalDef.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/definition/validation/DecimalRangeRuleDef.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/route/PatchFormAnswersRoute.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/db/dao/QuestionDaoTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/PatchFormAnswersRouteStandaloneTest.java
  study-builder/src/main/java/org/broadinstitute/ddp/studybuilder/translation/ActivityDefTranslationsProcessor.java
  study-builder/src/main/java/org/broadinstitute/ddp/studybuilder/translation/TranslationsEnricher.java
  study-builder/studies/basil/i18n/en.conf
  study-builder/studies/basil/i18n/es.conf
  study-builder/studies/basil/i18n/ru.conf
  study-builder/studies/basil/numeric-activity.conf
  study-builder/studies/basil/subs.conf
  study-builder/studies/snippets/decimal-question.conf
Due: action="build-test", action="build-test-deploy"

DDP-7306-BASIL. Part VI. Decimal Definition class is widely used
  pepper-apis/src/main/java/org/broadinstitute/ddp/copy/AnswerToAnswerCopier.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/AnswerDao.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/definition/types/DecimalDef.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/instance/answer/DecimalAnswer.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/instance/validation/DecimalRangeRule.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/route/PatchFormAnswersRoute.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/copy/AnswerToAnswerCopierTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/db/dao/AnswerDaoTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/db/dao/QuestionDaoTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/model/activity/instance/validation/DecimalRangeRuleTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/PatchFormAnswersRouteStandaloneTest.java
Due: action="build-test", action="build-test-deploy"

DDP-7306-BASIL. Part VII. Unused imports
  pepper-apis/src/main/java/org/broadinstitute/ddp/route/PatchFormAnswersRoute.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/PatchFormAnswersRouteStandaloneTest.java
Due: action="build-test", action="build-test-deploy"

DDP-7306-BASIL. Part VIII. Unit test fix
  pepper-apis/src/test/java/org/broadinstitute/ddp/db/dao/AnswerDaoTest.java
Due: action="build-test", action="build-test-deploy"

DDP-7306-BASIL. Part VIX. Unit test fix
  pepper-apis/src/test/java/org/broadinstitute/ddp/db/dao/AnswerDaoTest.java
Due: action="build-test", action="build-test-deploy"

DDP-7306-BASIL. Part infinity. Unit test fix
  pepper-apis/src/test/java/org/broadinstitute/ddp/db/dao/AnswerDaoTest.java
Due: action="build-test", action="build-test-deploy"

DDP-7306-BASIL. NPE fix
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/AnswerDao.java
Due: action="build-test", action="build-test-deploy"

Added new validation rule UNIQUE_VALUE
  study-builder/studies/basil/i18n/en.conf
  study-builder/studies/basil/i18n/es.conf
  study-builder/studies/basil/i18n/ru.conf
  study-builder/studies/basil/loved-one-activity.conf
Due: none

Update DSS API docs with Decimal types [DDP-7460] (#1117)
  pepper-apis/docs/specification/.tool-versions
  pepper-apis/docs/specification/package-lock.json
  pepper-apis/docs/specification/package.json
  pepper-apis/docs/specification/src/components/schemas.yml
  pepper-apis/docs/specification/src/pepper.yml
Due: action="build-test", api-docs, action="build-test-deploy"

DDP-7182 . Add UNIQUE-VALUE Validation
  pepper-apis/src/main/resources/changelog-master.xml
Due: action="build-test", action="build-test-deploy"

add reponse for remote auto complete
  pepper-apis/docs/specification/src/endpoints/user.studies.activity.instance.question-options.yml
  pepper-apis/src/main/java/org/broadinstitute/ddp/json/RemoteAutoCompleteOptionsResponse.java
Due: action="build-test", api-docs, action="build-test-deploy"

DDP-7182 . Add UNIQUE-VALUE Validation
  pepper-apis/docs/specification/src/components/schemas.yml
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/types/RuleType.java
Due: action="build-test", api-docs, action="build-test-deploy"

DDP-7117 | change kitTypeName to kitType
  elasticsearch/templates/participants_structured.json
Due: none

DDP-7117 | change testResult to result
  elasticsearch/templates/participants_structured.json
Due: none

DDP-7306-BASIL. Style
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/AnswerDao.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/instance/answer/DecimalAnswer.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/instance/validation/DecimalRangeRule.java
Due: action="build-test", action="build-test-deploy"

DDP-7306-BASIL. Style
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/AnswerDao.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/ValidationDao.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/definition/validation/DecimalRangeRuleDef.java
Due: action="build-test", action="build-test-deploy"

Avoiding NPE
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/PatchFormAnswersRouteStandaloneTest.java
Due: action="build-test", action="build-test-deploy"

Unused import
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/PatchFormAnswersRouteStandaloneTest.java
Due: action="build-test", action="build-test-deploy"

fix matrix modal issues
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/JdbiMatrixQuestion.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/QuestionDao.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dto/MatrixQuestionDto.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/definition/question/MatrixQuestionDef.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/instance/question/MatrixQuestion.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/service/actvityinstancebuilder/form/block/question/QuestionCreatorHelper.java
  pepper-apis/src/main/resources/db-changes/schema/DDP-7417-add-matrix-modal-columns.xml
  pepper-apis/src/main/resources/org/broadinstitute/ddp/db/dao/JdbiQuestion.sql.stg
  study-builder/src/main/java/org/broadinstitute/ddp/studybuilder/translation/ActivityDefTranslationsProcessor.java
  study-builder/studies/pancan/diet-lifestyle.conf
  study-builder/studies/pancan/i18n/en.conf
  study-builder/studies/pancan/i18n/es.conf
  study-builder/studies/pancan/stool-kit.conf
  study-builder/studies/snippets/matrix-single-question.conf
Due: action="build-test", action="build-test-deploy"

Revert "fix matrix modal issues"
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/JdbiMatrixQuestion.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/QuestionDao.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dto/MatrixQuestionDto.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/definition/question/MatrixQuestionDef.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/instance/question/MatrixQuestion.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/service/actvityinstancebuilder/form/block/question/QuestionCreatorHelper.java
  pepper-apis/src/main/resources/db-changes/schema/DDP-7417-add-matrix-modal-columns.xml
  pepper-apis/src/main/resources/org/broadinstitute/ddp/db/dao/JdbiQuestion.sql.stg
  study-builder/src/main/java/org/broadinstitute/ddp/studybuilder/translation/ActivityDefTranslationsProcessor.java
  study-builder/studies/pancan/diet-lifestyle.conf
  study-builder/studies/pancan/i18n/en.conf
  study-builder/studies/pancan/i18n/es.conf
  study-builder/studies/pancan/stool-kit.conf
  study-builder/studies/snippets/matrix-single-question.conf
Due: action="build-test", action="build-test-deploy"

Revert "fix matrix modal issues" (#1138)
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/JdbiMatrixQuestion.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/QuestionDao.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dto/MatrixQuestionDto.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/definition/question/MatrixQuestionDef.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/instance/question/MatrixQuestion.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/service/actvityinstancebuilder/form/block/question/QuestionCreatorHelper.java
  pepper-apis/src/main/resources/db-changes/schema/DDP-7417-add-matrix-modal-columns.xml
  pepper-apis/src/main/resources/org/broadinstitute/ddp/db/dao/JdbiQuestion.sql.stg
  study-builder/src/main/java/org/broadinstitute/ddp/studybuilder/translation/ActivityDefTranslationsProcessor.java
  study-builder/studies/pancan/diet-lifestyle.conf
  study-builder/studies/pancan/i18n/en.conf
  study-builder/studies/pancan/i18n/es.conf
  study-builder/studies/pancan/stool-kit.conf
  study-builder/studies/snippets/matrix-single-question.conf
Due: action="build-test", action="build-test-deploy"

cleanup
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/instance/validation/UniqueValueRule.java
Due: action="build-test", action="build-test-deploy"

cleanup
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/ValidationDao.java
Due: action="build-test", action="build-test-deploy"

cleanup
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/ValidationDao.java
  pepper-apis/src/main/resources/db-changes/seed/DDP-7182-add-unique-value-validation-type.xml
  pepper-apis/src/main/resources/org/broadinstitute/ddp/db/dao/AnswerSql.sql.stg
  study-builder/src/main/java/org/broadinstitute/ddp/studybuilder/task/util/ValidationRuleTask.java
Due: action="build-test", action="build-test-deploy"

DDP-7117 | change kitType to kitTypeName
  elasticsearch/templates/participants_structured.json
Due: none

NPE
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/AnswerDao.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/ValidationDao.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/model/activity/instance/validation/DecimalRangeRuleTest.java
Due: action="build-test", action="build-test-deploy"

Hot fix for failing SB unit test
  study-builder/src/test/java/org/broadinstitute/ddp/studybuilder/translation/ActivityDefTranslationsProcessorTest.java
Due: none

minor fix in circadia instructions
  study-builder/studies/circadia/dlmo-instructions.conf
Due: none

extract liquibase column edition in separate file
  pepper-apis/src/main/resources/changelog-master.xml
  pepper-apis/src/main/resources/db-changes/schema/DDP-7417-add-matrix-modal-title-column.xml
Due: action="build-test", action="build-test-deploy"

added espanic links
  study-builder/studies/pancan/diet-lifestyle.conf
  study-builder/studies/pancan/i18n/es.conf
Due: none

hotfix href problem in pancan spanish link
  study-builder/studies/pancan/i18n/es.conf
Due: none

cleanup
  pepper-apis/src/main/resources/db-changes/seed/DDP-7182-add-unique-value-validation-type.xml
Due: action="build-test", action="build-test-deploy"

Hot fix for failing SB unit test (#1140)
  study-builder/src/test/java/org/broadinstitute/ddp/studybuilder/translation/ActivityDefTranslationsProcessorTest.java
Due: none

basil activity cleanup
  study-builder/studies/basil/study-events.conf
  study-builder/studies/basil/subs.conf
Due: none
